@model IEnumerable<EasyBanca.Models.EntityDataModel.Enquete>

@{
    ViewBag.Title = "Emails Cadastrados";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Emails Cadastrados</h2>
<h5>Abaixo está a lista de emails cadastrados.</h5>
<table class="table">
    <thead>
        <tr>
            <th style="margin:10px; padding:10px;">
                @Html.DisplayNameFor(model => model.Cidade.Descricao)
            </th>
            <th style="margin:10px; padding:10px;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="margin:10px; padding:10px;">
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th style="margin:10px; padding:10px;">
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Descricao) -
                    @Html.DisplayFor(modelItem => item.Estado.Abreviacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario)
                </td>
                <td>
                    @Html.ActionLink(" ", "Details", "Enquetes", new { id = item.Codigo }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-search", @title = "Detalhar" })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Voltar", "Index", "Home")
</p>

<script>
        /*********************************************************/
        // MÉTODOS DE DATA TABLE JQUERY.
        /*********************************************************/
        formatarDataTable("table");
        function formatarDataTable(nomeTabela) {
            $(nomeTabela).dataTable(
                {
                    responsive: true,
                    searching: true,
                    paging: true,
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "Conteúdo não encontrado.",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Não existem dados para a pesquisa informada.",
                        "infoFiltered": "(filtrado de _MAX_ linhas)",
                        "emptyTable": "Não existem dados na tabela.",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Exibir _MENU_ ",
                        "loadingRecords": "Carregando...",
                        "processing": "Processando...",
                        "search": "",
                        "searchPlaceholder": "Pesquisar...",
                        "paginate": {
                            "first": "Primeira",
                            "last": "Última",
                            "next": "Próxima",
                            "previous": "Anterior"
                        },
                        "aria": {
                            "sortAscending": ": activate to sort column ascending linhaNormal",
                            "sortDescending": ": activate to sort column descending linhaNormal"
                        },
                        "pagingType": "full_numbers"
                    }
                });
        }
</script>